*,*:before,*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    color: #555;
    background: #f8f8f8;
    font-family: "Work Sans", sans-serif;
    line-height: 1.5;
	padding: 0;
    margin: 0 auto;
    text-align: center;
}

h1,
h2 {
    color: #333;
    font-weight: 300;
}

a {
    color: #d23;
}

p {
    margin: 1.5em 0;
}

.inline-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.inline-list li {
    display: inline;
    padding: 0;
    margin: 0;
}